{% extends 'base.html' %}

{% load static %}



{% block content %}
<div class = 'container'>
  <link rel = "stylesheet" href ="{% static 'css/style.css' %}">
    <h2 class = 'display-4'>MultiModel Search</h2>
      <form class = "example" method = "post">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>

      </form>
</div>
<div class = 'container'>
    <div class = 'sm'>
     {% for i in result %}
        {% if query == i.title %}
          <h4> {{i.title}} </h4>
        {% elif query == i.description%}
          <h4> {{i.title}} </h4>
         {% else %}
           <h4> {{i.title}} </h4>
        {% endif %}
     {% endfor %}




    </div>
</div>
{% endblock content %}



